<nav class="navbar navbar-expand navbar-light bg-light" *ngIf="isUserLoggedIn">
  <div class="collapse navbar-collapse" id="errorNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth/logout']" routerLinkActive="router-link-active"  [translate]="'Error.Logout'"></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container error-container">
        <div class="col-md-8 col-sm-10 col-xs-10">
          <div class="d-flex flex-row justify-content-center">
            <i class="far fa-frown fa-10x text-secondary" [title]=displayCode></i>
          </div>
            <div class="d-flex flex-row justify-content-center">
                <div class="px-4 py-md-3">
                    <h3 class="pt-3 text-center">{{title}}</h3>
                    <h5 class="text-muted text-center">{{message}}</h5>
                    <div class="text-center pt-4">
                        <ng-container *ngIf = "continueLinkIsAbsolute">
                          <a [attr.href]="continue" [translate]="action" class="btn btn-light rounded"></a>
                        </ng-container>
                        <ng-container *ngIf = "!continueLinkIsAbsolute">
                          <a [routerLink]="continue" [translate]="action" class="btn btn-light rounded"></a>
                        </ng-container>
                    </div>
                </div>
            </div>
    </div>
</div>


